@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* el *{ se utiliza para estilos */
* {
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body{
	margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

/*--------------------estilos de los cursos tambien--------------------*/
.section__titulo {
	text-align: center;
	font-size: 40px;
	color: #6D0A6F;
}

/*--------------------------body background--------------------------*/

.body_backg {
    background: -webkit-linear-gradient(#000, #993399); /* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(#000, #993399); /* Opera 11.1+ */
    background: -moz-linear-gradient(#000, #993399); /* Firefox 3.6+ */
    background: linear-gradient(#000, #993399); /* Standard syntax (must be last) */
    background-color: #000; /* It's a good idea to set a background color in case the gradient doesn't load */
    
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: -webkit-background-size: cover;
    background: -moz-background-size: cover;
    background: -o-background-size: cover;
}

/*--------------------------estilos del header--------------------------*/

.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    
}
.logo, .icon-menu {
    margin: 5px;
	color: #fff;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #6D0A6F;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;  
    margin-left: auto;
    cursor: pointer;
    /*es la parte del cuadrito menu*/
}

/*----------------------------Estilos de menu----------------------------*/
.nav {
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: -100%; 
    width: 100%;
	transition: all 0.4s;
    /*esto viene siendo lo que es inicio, cursos, docentes, contacto*/
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #313131;
    color: black;
}


.menu {
    overflow: hidden;
    position: fixed;
    top: -10px;
    list-style: none;
    padding: 0;
    margin-left: 190px;
}

.menu__link {
    display: block;
    padding: 15px;
    background: #6D0A6F;
    text-decoration: none;
    color: #ffff;
    /*es el color de las letras del menu*/
}

.menu__link:hover, .select {
    background: white;
    color: #6D0A6F;
    /*es para que al momento de pasar el mouse sobre el menu se vea color blanco*/
}

.mostrar {
    left: 0;
}


.contenedor_menu {
	margin: auto;
	width: 80%;
}


/*---------------------------Estidos del banner---------------------------*/


.banner {
    background-image:url('../img/pup1.jpg');
    height: 970px;
    width: 100%;
	position: relative;
	z-index: -1000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_video {
    background-image:url('../img/pup2.jpg');
    height: 485px;
    width: 100%;
	position: relative;
	z-index: -1000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
-webkit-box-align: center;
-webkit-box-pack: center;
-webkit-box-orient: horizontal;
-webkit-box-flex: 1
   
}

.banner .contenedor_banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
	
}

.contenedor_banner2 {
	font-size: 100px;
		margin: 10px;
	
}

.banner__txt {
	display: none;
}

/*------------------SECCION DEL ABSTRACT-------------------------------------*/

.abstract {
    height: 1500px;
    width: 100%;
    align-content:center;
}


.abstract__titulo{
    font-size: 100px;
		margin: 10px;
    text-align: center;
}

.display{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.next-to-next{
    float: left;
    min-height: 450px;
    align-items: center;
	margin: auto;
    color: white;
}

#abstract_img {
    width: 590px;
    height: 660px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image:url('../img/doggo3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#abstract_desc {
     width: 800px;
    height: 660px;
    text-align: center;
    font-size: 1.8vw;
}

/*------------------SECCION DEL VIDEO-------------------------------------*/

.video {
    height: 770px;
    width: 100%;
}

.contenedor_video{
 display: -webkit-box;
-webkit-box-align: center;
-webkit-box-pack: center;
-webkit-box-orient: horizontal;
-webkit-box-flex: 1
}

/*------------------PARALLAX PRUEBA CON CSS (Aun no funcional) -------------------------------------*/

.parallax_prueba{
    background: url('img/brain.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    

}
/*------------------------------Estilos de footer------------------------------*/


.footer {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;	
}
	


/*-----------------------------Estilos Responsive-----------------------------*/
	
/*esta parte de aqui es para el texto y ademas 
en donde se encuentran las imagenes*/


@media(min-width:480px) {
	.logo {
		font-size: 45px;
	}
	
	.banner__titulo {
		font-size: 30px;
		margin: 10px 0;
	}
	
	.banner__txt {
		display: block;
		font-size: 30px;
		margin: 7px o;
	}
	
	
	.info, .cursos {
		display: flex;
		justify-content: space-between;
		
		/*esta parte es para que las culumnas de posiciones
		puedes ser '-100px o muy arriba o muy abajo*/
		margin-top: -100px;
	}
	
	/*anchura de las culumnas donde estan los titulos*/
	.info__columna {
		width: 32%;
	}
	
	.info__titulo {
		font-size: 30px;
		margin: 5px;
	}
	
	.cursos {
		flex-wrap: wrap;
		margin-top: 0;
	}
	
	
	.section__titulo {
		width: 100%;
	}
	
	.cursos__columna {
		width: 49%;
	}
	
	
	.footer .social [class^="icon-"] {
		margin: 0 5px;
	}
	
}

@media(min-width:768px) {
	
	.banner__titulo {
		font-size: 50px;
		
	}
	
	.cursos__titulo {
		font-size: 40px;
	}
	
}


@media(min-width:1024px) {
	
	.contenedor{
		width: auto;
	}
	
	.section__titulo{
		font-size: 50px;
		margin: 10px 0;
	}
	
	.nav {
		position: static;;
		width: auto;
	}
	
	.menu {
		display: flex;
	}
	
	.icon-menu {
		display: none;
	}
	
	.menu__link {
		background: none;
		font-size: 15px;
	}
	
	.select {
		color: #fff;
		background: #6D0A6F;
	}
	
	.banner__titulo {
		font-size: 130px;
		
	}
	
	.banner_txt{
		font-size: 25px;
	}
	
	.info {
		margin-top: -100px;
	}
	
	.info__columna {
		padding: 20px;
		
	}
	
	
	.info__titulo{
		font-size: 40px;
		text-align: center;
	}
	
	.cursos__descripcion{
		padding: 10px;
		/*display: flex;
		flex-wrap: ;
		justify-content: center;
		align-content: center;*/
	}
	
	.cursos__titulo {
		font-size: 50px;
	}
	
	.cursos__txt{
		font-size: 20px;
	}
	
}

@media(min-width:1280px) {
	.contenedor {
		width: auto;
	}
	
	.logo {
		font-size: 60px;
	}
	
	.banner .contenedor {
		top: 40%;
	}
	
	.info {
		margin-top: -200px;
	}
}
















	